<!DOCTYPE html>
<html lang="zh-CN">
<head>
 <title>网站首页</title>
  <!-- meta start -->
  {include file="public/meta" /}
  <!-- meta end -->
 </head>
 <body>

  <!-- header_pc start -->
  {include file="public/header_pc" /}
  <!-- header_pc end-->

  <!-- header_mo start -->
  {include file="public/header_mo"/}
  <!-- header_mo end-->

  <!-- content start -->
  <div id="content">
   <!-- undergraduate part1 start -->
   <div class="neibanner" style="background:url(__STATIC__/images/banner_service.jpg) no-repeat 50%; background-size: cover;"></div>
   <!-- undergraduate part1 end -->

   <!-- part2 start -->
   <section class="ht-column ht-column-h920 mgb60">
    <div class="container">
     <div class="ht-title mgb48">
      <h2 class="ht-title-h2 txtc1">2017有了高名校学历&nbsp;&nbsp;<span class="txtc6">离梦想更进一步</span></h2>
      <i class="ht-title-i"></i>
      &nbsp;<span style="color: rgb(6, 32, 51); font-family: &quot;Microsoft Yahei&quot;, Arial, sans-serif; font-size: 1.8em; text-align: center;">你知道吗？</span>
      <p class="ht-title-sl" style="margin: 0px; font-size: 1.8em; line-height: 32px; color: rgb(6, 32, 51); font-family: &quot;Microsoft Yahei&quot;, Arial, sans-serif; text-align: center;">
       你的指尖有一种改变命运的力量，是这一刻的行动，拒绝下一刻的犹豫！</p>
     </div>
     <div class="ht-row ht-row-h920 mgb48">
      <div class="ht-col-3 ht-h920-item bos20">
       <span class="ht-h920-thumb"><img class="mw" src="__STATIC__/images/uploads/170915/1-1F915135222M8.jpg" alt=""></span>
       <div class="ht-h920-desc">
        <dl class="horizontal">
         <dt>考公务员</dt>
         <dd>不受任何职业报考限制</dd>
        </dl><dl class="horizontal">
        <dt>评职称</dt>
        <dd>不受任何评级和职业限制</dd>
       </dl><dl class="horizontal">
        <dt>留学</dt>
        <dd>不受任何国家院校限制</dd>
       </dl>
       </div>
      </div><div class="ht-col-3 ht-h920-item mgt100 bos20">
      <span class="ht-h920-thumb"><img class="mw" src="__STATIC__/images/uploads/170915/1-1F915135304955.jpg" alt=""></span>
      <div class="ht-h920-desc">
       <dl class="horizontal">
        <dt>晋升加薪</dt>
        <dd>不受任何限制</dd>
       </dl><dl class="horizontal">
       <dt>考建造师</dt>
       <dd>不受建造师报考注册限制</dd>
      </dl>
      </div>
     </div><div class="ht-col-3 ht-h920-item bos20">
      <span class="ht-h920-thumb"><img class="mw" src="__STATIC__/images/uploads/170915/1-1F915135332324.jpg" alt=""></span>
      <div class="ht-h920-desc">
       <dl class="horizontal">
        <dt>考资格证</dt>
        <dd>不受任何等级限制</dd>
       </dl><dl class="horizontal">
       <dt>考职称</dt>
       <dd>不受任何级别限制</dd>
      </dl><dl class="horizontal">
       <dt>办居住证</dt>
       <dd>不受办理居住证的限制</dd>
      </dl>
      </div>
     </div><div class="ht-col-3 ht-h920-item mgt100 bos20">
      <span class="ht-h920-thumb"><img class="mw" src="__STATIC__/images/uploads/170915/1-1F915135423614.jpg" alt=""></span>
      <div class="ht-h920-desc">
       <dl class="horizontal">
        <dt>外资求职</dt>
        <dd>不受任何职位门槛限制</dd>
       </dl><dl class="horizontal">
       <dt>考研究生</dt>
       <dd>不受任何院校报考限制</dd>
      </dl>
      </div>
     </div>
     </div>
     <a href="http://p.qiao.baidu.com/cps/chat?siteId=11351898&userId=24679717" class="ht-btn-refer ts15">详情咨询</a>
    </div>
   </section>
   <!-- part2 end -->


   <!--part3 start -->

  <!-- part3 start -->

  <!-- content end -->

  <!-- footer start -->
  {include file="public/footer" /}
  <!-- footer end -->

 </body>
</html>
