<!DOCTYPE html>
<html lang="zh-CN">
<head>
 <title>网站首页</title>
  <!-- meta start -->
  {include file="public/meta" /}
  <!-- meta end -->
 </head>
 <body>

  <!-- header_pc start -->
  {include file="public/header_pc" /}
  <!-- header_pc end-->

  <!-- header_mo start -->
  {include file="public/header_mo"/}
  <!-- header_mo end-->

  <!-- content start -->
  <div id="content">
    <div class="neibanner" style="background:url(__STATIC__/images/banner_service.jpg) no-repeat 50%; background-size: cover;"></div>
    <div class="neipagename">
     <div class="pagename_en">
      Quality service
     </div>
     <br />
     <div class="pagename_ch">
      <div>
       技术优势
      </div>
     </div>
    </div>
    <div class="neimenu">
     <div>
      <a href="/a/jishu/jczs/">基础知识</a>
      <a href="/a/jishu/gzcl/">故障处理</a>
      <a href="/a/jishu/whby/">维护保养</a>
      <a href="/a/jishu/zlwd/">资料文档</a>
     </div>
    </div>
    <div class="about">
     <div class="service_box">
      <a href="/a/jishu/gzcl/39.html">
       <div class="service_quan">
        <div></div>
       </div> <span class="service_title">静动压套筒式主轴</span><span class="service_time">2016-05-08</span></a>
      <a href="/a/jishu/gzcl/38.html">
       <div class="service_quan">
        <div></div>
       </div> <span class="service_title">案例展示</span><span class="service_time">2016-05-08</span></a>
      <a href="/a/jishu/jczs/33.html">
       <div class="service_quan">
        <div></div>
       </div> <span class="service_title">潍柴动力发动机、林德液压助力山推压路机</span><span class="service_time">2016-05-08</span></a>
      <a href="/a/jishu/jczs/32.html">
       <div class="service_quan">
        <div></div>
       </div> <span class="service_title">穹顶之下环保之风兴起：黎明重工环保先行</span><span class="service_time">2016-05-08</span></a>
      <a href="/a/jishu/jczs/31.html">
       <div class="service_quan">
        <div></div>
       </div> <span class="service_title">徐工XG600D连续墙液压抓斗：闪耀在高原</span><span class="service_time">2016-05-08</span></a>
      <a href="/a/jishu/jczs/30.html">
       <div class="service_quan">
        <div></div>
       </div> <span class="service_title">实现绿色砂石梦 黎明重工呼吁集体发声</span><span class="service_time">2016-05-08</span></a>
      <a href="/a/jishu/jczs/29.html">
       <div class="service_quan">
        <div></div>
       </div> <span class="service_title">英达科技“公路医生”守护“博鳌之路”</span><span class="service_time">2016-05-08</span></a>
      <a href="/a/jishu/gzcl/9.html">
       <div class="service_quan">
        <div></div>
       </div> <span class="service_title">钻探工具标题展示位置</span><span class="service_time">2015-10-09</span></a>
      <div class=" clear"></div>
     </div>
     <div class="pagess">
      <ul>
       <li>首页</li>
       <li class="thisclass">1</li>
       <li><a href="list_11_2.html">2</a></li>
       <li><a href="list_11_2.html">下一页</a></li>
       <li><a href="list_11_2.html">末页</a></li>
      </ul>
     </div>
    </div>
  </div>
  <!-- content end -->

  <!-- footer start -->
  {include file="public/footer" /}
  <!-- footer end -->

 </body>
</html>
