<!DOCTYPE html>
<html lang="zh-CN">
<head>
 <title>网站首页</title>
  <!-- meta start -->
  {include file="public/meta" /}
  <!-- meta end -->
 </head>

 <body>
  <!-- header_pc start -->
  {include file="public/header_pc" /}
  <!-- header_pc end -->

  <!-- header_mo start -->
  {include file="public/header_mo"/}
  <!-- header_mo end-->

  <!--content start-->
  <div id="content">
    <div class="neibanner" style="background:url(__STATIC__/ht_home/images/banner_contact.jpg) no-repeat 50%; background-size: cover;"></div>
    <div class="neipagename">
     <div class="pagename_en">
      contact US
     </div>
     <br />
     <div class="pagename_ch">
      <div>
       联系我们
      </div>
     </div>
    </div>
    <div class="neimenu">
     <div>
      <a href="#" class="on">联系我们</a>
     </div>
    </div>
    <div class="con1">
     <div class="con1_nei">
      <div class="con1_xun">
       <div class="con1_xun_img">
        <img src="__STATIC__/ht_home/images/bg15.png" />
       </div>
       <div class="con1_xun_text">
        <div class="con1_xun_title">
         公司地址
        </div>
        <div class="con1_xun_zi">
         江苏省南京市玄武区玄武湖
        </div>
       </div>
      </div>
      <div class="con1_xun">
       <div class="con1_xun_img">
        <img src="__STATIC__/ht_home/images/bg16.png" />
       </div>
       <div class="con1_xun_text">
        <div class="con1_xun_title">
         联系方式
        </div>
        <div class="con1_xun_zi">
         电话：4008-888-888/13588889999
        </div>
        <div class="con1_xun_zi">
         邮箱：9490489@qq.com
        </div>
       </div>
      </div>
      <div class="con1_xun">
       <div class="con1_xun_img">
        <img src="__STATIC__/ht_home/images/bg17.png" />
       </div>
       <div class="con1_xun_text">
        <div class="con1_xun_zi">
         <img src="__STATIC__/ht_home/images/erweima.jpg" />
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="message">
     <form action="/plus/diy.php" enctype="multipart/form-data" method="post" class="mess_form">
      <input type="hidden" name="action" value="post" />
      <input type="hidden" name="diyid" value="1" />
      <input type="hidden" name="do" value="2" />
      <div class="fl">
       <input type="text" name="xm" id="xm" placeholder="你的姓名" />
       <input type="text" name="yx" id="yx" placeholder="联系邮箱" />
       <input type="text" name="sj" id="sj" placeholder="联系电话" />
      </div>
      <div class="fr">
       <textarea name="nra" id="nra" placeholder="填写留言"></textarea>
       <input type="hidden" name="dede_fields" value="xm,text;yx,text;nra,multitext;sj,text" />
       <input type="hidden" name="dede_fieldshash" value="5b14cf258b40a319a7de3b8aadf7d6da" />
       <input type="submit" name="submit" class="tj" value="提交留言" />
      </div>
     </form>
    </div>
  </div>
  <!--content end-->

  <!--footer start-->
  {include file="public/footer" /}
  <!--footer end-->

<script>
$(document).ready(function(e) {
    $('.tj').click(function(){
		if($('#xm').val()==''){alert('请输入姓名！');return false;}
		if($('#yx').val()==''){alert('请输入邮箱！');return false;}
		if($('#sj').val()==''){alert('请输入手机！');return false;}
		if($('#nra').val()==''){alert('请输入内容！');return false;}
	})
});
</script>
 </body>
</html>
