<div id="hongtu_pc_header">
  <div class="pcto pc">
   <div class="pcto_box pc">
    <a href="index" class="fl pcto_logo">
     <img src="__STATIC__/images/logo.png" />
    </a>
    <div class="pcto_menu">
     <div class="pcto_menu_xun">
      <a href="index" class="pcto_menu_a">网站首页</a>
     </div>
     <div class="pcto_menu_xun yxl ">
      <a href="about" class="pcto_menu_a">关于我们</a>
      <div class="pcto_xl">
       <a href="/a/about/gsjj/">公司简介</a>
       <a href="/a/about/qywh/">企业文化</a>
       <a href="/a/about/gszz/">公司资质</a>
      </div>
      <div class="pcto_bg"></div>
     </div>
     <div class="pcto_menu_xun yxl ">
      <a href="undergraduate" class="pcto_menu_a">专升本</a>
      <div class="pcto_xl">
       <a href="/a/products/lm1/">3+2专升本</a>
       <a href="/a/products/lm2/">自考专升本</a>
       <a href="/a/products/lm3/">成考专升本</a>
       <a href="/a/products/lm4/">远程专升本</a>
      </div>
      <div class="pcto_bg"></div>
     </div>
     <div class="pcto_menu_xun yxl ">
      <a href="postgraduate" class="pcto_menu_a">宏图考研</a>
      <div class="pcto_xl">
       <a href="/a/jishu/jczs/">2019考研</a>
       <a href="/a/jishu/gzcl/">2020考研限时优惠</a>
      </div>
      <div class="pcto_bg"></div>
     </div>
     <div class="pcto_menu_xun yxl ">
      <a href="overseas" class="pcto_menu_a">出国留学</a>
      <div class="pcto_xl">
       <a href="/a/news/gsxw/">雅思</a>
       <a href="/a/news/hyxw/">托福</a>
       <a href="/a/news/hyxw/">GRE</a>
       <a href="/a/news/hyxw/">SAT</a>
       <a href="/a/news/hyxw/">GMAT</a>
      </div>
      <div class="pcto_bg"></div>
     </div>
     <div class="pcto_menu_xun yxl ">
      <a href="news" class="pcto_menu_a">新闻动态</a>
      <div class="pcto_xl">
       <a href="/a/news/hyxw/">热门专业</a>
       <a href="/a/news/hyxw/">最新消息</a>
      </div>
      <div class="pcto_bg"></div>
     </div>
     <div class="pcto_menu_xun yxl ">
      <a href="contact" class="pcto_menu_a">联系我们</a>
      <div class="pcto_xl">
      </div>
      <div class="pcto_bg"></div>
     </div>
    </div>
   </div>
  </div>
</div>
