<div id="hongtu_mo_header">
  <div class="mot mo">
      <a href="" class="molo">
          <img src="__STATIC__/images/logo.png" />
      </a>
      <img src="__STATIC__/images/bg37.png" class="momenuicon openicon" />
      <img src="__STATIC__/images/bg36.png" class="momenuicon cloesicon" />
  </div>
  <div class="moxl">
      <div class="moxl_box">
          <div class="moxl_xun">
              <a href="/" class="moxl_xun_title">网站首页</a>
              <div class="clear"></div>
          </div>
          <div class="moxl_xun">
              <div class="moxl_xun_icon">
                  <img src="__STATIC__/images/bg39.png" class="moxl_xun_img1" />
                  <img src="__STATIC__/images/bg40.png" class="moxl_xun_img2" />
              </div>
              <a href="/a/about/" class="moxl_xun_title">关于我们</a>
              <div class="moxl_erji">
                  <a href="/a/about/gsjj/">公司简介</a>
                  <a href="/a/about/qywh/">企业文化</a>
                  <a href="/a/about/gszz/">公司资质</a>
                  <div class="clear"></div>
              </div>
              <div class="clear"></div>
          </div>
          <div class="moxl_xun">
              <div class="moxl_xun_icon">
                  <img src="__STATIC__/images/bg39.png" class="moxl_xun_img1" />
                  <img src="__STATIC__/images/bg40.png" class="moxl_xun_img2" />
              </div>
              <a href="/a/products/" class="moxl_xun_title">产品中心</a>
              <div class="moxl_erji">
                  <a href="/a/products/lm1/">空气压缩机</a>
                  <a href="/a/products/lm2/">冷冻式干燥机</a>
                  <a href="/a/products/lm3/">吸附式干燥机</a>
                  <a href="/a/products/lm4/">空气系统产品</a>
                  <div class="clear"></div>
              </div>
              <div class="clear"></div>
          </div>
          <div class="moxl_xun">
              <div class="moxl_xun_icon">
                  <img src="__STATIC__/images/bg39.png" class="moxl_xun_img1" />
                  <img src="__STATIC__/images/bg40.png" class="moxl_xun_img2" />
              </div>
              <a href="/a/jishu/" class="moxl_xun_title">技术优势</a>
              <div class="moxl_erji">
                  <a href="/a/jishu/jczs/">基础知识</a>
                  <a href="/a/jishu/gzcl/">故障处理</a>
                  <a href="/a/jishu/whby/">维护保养</a>
                  <a href="/a/jishu/zlwd/">资料文档</a>
                  <div class="clear"></div>
              </div>
              <div class="clear"></div>
          </div>
          <div class="moxl_xun">
              <div class="moxl_xun_icon">
                  <img src="__STATIC__/images/bg39.png" class="moxl_xun_img1" />
                  <img src="__STATIC__/images/bg40.png" class="moxl_xun_img2" />
              </div>
              <a href="/a/news/" class="moxl_xun_title">新闻动态</a>
              <div class="moxl_erji">
                  <a href="/a/news/gsxw/">公司新闻</a>
                  <a href="/a/news/hyxw/">行业新闻</a>
                  <div class="clear"></div>
              </div>
              <div class="clear"></div>
          </div>
          <div class="moxl_xun">
              <div class="moxl_xun_icon">
                  <img src="__STATIC__/images/bg39.png" class="moxl_xun_img1" />
                  <img src="__STATIC__/images/bg40.png" class="moxl_xun_img2" />
              </div>
              <a href="/a/job/" class="moxl_xun_title">人才招聘</a>
              <div class="moxl_erji">
                  <div class="clear"></div>
              </div>
              <div class="clear"></div>
          </div>
          <div class="moxl_xun">
              <div class="moxl_xun_icon">
                  <img src="__STATIC__/images/bg39.png" class="moxl_xun_img1" />
                  <img src="__STATIC__/images/bg40.png" class="moxl_xun_img2" />
              </div>
              <a href="contact" class="moxl_xun_title">联系我们</a>
              <div class="moxl_erji">
                  <div class="clear"></div>
              </div>
              <div class="clear"></div>
          </div>
          <div class="clear"></div>
      </div>
      <div class="clear"></div>
  </div>
</div>
